<%= form_for([@answer], url: answer_contributes_path(@answer), html: {method: "post"}) do |f| %>
    <p><%= "#{@answer.a_points.length-1}人がこれが役に立ったと考えています" %></p>
    <%= f.submit("投票する") %>
<% end %>
